---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Welcome to Page">
	<h1>Home</h1>
</BaseLayout>

<style>
	h1{
		font-family: sans-serif;
		font-size: xx-large;
	}
</style>