---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductItem from "../components/ProductItem.astro"
---

<BaseLayout title="Test" description="Welcome to About">
  <h1>Test</h1>
  <ProductItem name="java" 
  image="https://upload.wikimedia.org/wikipedia/commons/6/6b/Icecat1-300x300.svg" price="1,555"></ProductItem>
</BaseLayout>
